$primary-color: #101820FF;
$secondary-color: #FEE715FF;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$portrait-image: url(../img/portrait.jpg);
$background-opacity: 0;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

// Media Query Mixins
@mixin  mediaS {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin  mediaM {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin  mediaL {
    @media screen and (min-width: 769px) and (max-width: 1200px) {
        @content;
    }
}

@mixin  mediaXL {
    @media screen and (min-width: 1200px) {
        @content;
    }
}