@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom left, rgb(113, 180, 243), rgb(81, 216, 240), rgb(182, 243, 238), rgb(238, 250, 248));
    color: $primary-color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 20), 0.05);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

section {
    padding: 4rem;
    //height: 100%
    // User calc to keep the footer sticking at the bottom
    min-height: calc(100vh - 40px);
    overflow: hidden;
    h1 {
        margin-top: 5vh;
    }
    border-bottom: 5px #fff solid;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 60px;
    grid-template-areas: 
    'bioimage bio bio'
    'self1 self2 self3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;        
        background-size: cover;
        width: 250px;
        height: 250px;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .self-1 {
        grid-area: self1;
    }

    .self-2 {
        grid-area: self2;
    }

    .self-3 {
        grid-area: self3;
    }

    .self {
        background: rgba(lighten($primary-color, 20), 0.05);
        padding: 0.5rem;
        border-bottom: $secondary-color 3px solid;
    }
}

// Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        height: 30vh;
        width: 100%;
        border: 3px #fff solid;        
        object-fit: cover;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background-color: $secondary-color;
            color:$primary-color;
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;    
}

.btn-dark {
    @extend .btn;
    background-color: lighten($primary-color, 10);
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $secondary-color;
    }
}

.btn-light {
    @extend .btn;
    background-color: lighten($primary-color, 70);
    color: #333;    
}

footer {
    text-align: center;
    padding: 0.5rem;
    background: darken($primary-color, 10);
    color: $primary-color;
    height: 40px;
}

// run after the main css
@import 'mobile';

